.cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.cards-container > div {
    margin: 5px;
}

.card-front {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}