@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;800&display=swap');

* {
    box-sizing: border-box;
}

:root {

     /* ///// CARD SIZING VARIABLES ///// */
    --card-w-xsmall: calc(110px * .5);
    --card-h-xsmall: calc(160px * .5);
    --card-w-small: calc(110px * .75);
    --card-h-small: calc(160px * .75);
    --card-w-med: calc(110px * 1);
    --card-h-med: calc(160px * 1);
    --card-w-large: calc(110px * 1.25);
    --card-h-large: calc(160px * 1.25);
    --card-w-xlarge: calc(110px * 1.5);
    --card-h-xlarge: calc(160px * 1.5);

}


body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    letter-spacing: .5px;
    color: rgb(44, 44, 44);
    background-color: #e5e5e5;
    height: 100vh;
    width: 100vw;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.left-pane {
    padding-bottom: 10px;
    width: 370px;
    height: 100%;
    border: 1px solid lightgray;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tabs {
    flex: 1;
    height: 100%;
    border: 1px solid lightgray;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.tab-list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.tab {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tab-panel {
    height: 100%;
}