@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;800&display=swap');


:root {

     /* ///// CARD SIZING VARIABLES ///// */
    --card-w-xsmall: calc(110px * .5);
    --card-h-xsmall: calc(160px * .5);
    --card-w-small: calc(110px * .75);
    --card-h-small: calc(160px * .75);
    --card-w-med: calc(110px * 1);
    --card-h-med: calc(160px * 1);
    --card-w-large: calc(110px * 1.25);
    --card-h-large: calc(160px * 1.25);
    --card-w-xlarge: calc(110px * 1.5);
    --card-h-xlarge: calc(160px * 1.5);

}


body {
    margin: 0;
    padding: 20px;
    font-family: 'Assistant', sans-serif;
    color: rgb(207, 207, 207);
    box-sizing: border-box;
    background-color: #e5e5e5;
    height: 100vh;
    width: 100vw;
}

#root {
    font-family: 'Assistant', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}